* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f3f5f7;
}
/*清除浮动的处理方法*/
.clearfix:before,.clearfix:after {
    content:"";
    display:table; 
  }
  .clearfix:after {
    clear:both;
  }
  .clearfix {
     *zoom:1;
  } 
a {
    text-decoration: none;
}
ul li {
    list-style: none;
}
.w {
    width: 1200px;
    margin: 0 auto;
}
.header {
    height: 42px;
    /* background-color: #fff; */
    margin: 30px auto;
}
.log {
    height: 42px;
    float: left;
}
.nav {
    float: left;
    height: 42px;
    line-height: 42px;
    margin-left: 50px;
}
.nav ul li {
    float: left;
    padding: 0 10px;
}
.nav ul li:hover {
    border-bottom: 1px solid #00a4ff;
}
.nav ul li a {
    color: black;
}
.search {
    float: left;
    width: 412px;
    height: 42px;
    background-color: blue;
    margin-left: 30px;
}
.search input {
    float: left;
    width: 345px;
    height: 40PX;
    border:1px solid #00a4ff;
    border-right: 0;
    padding-left: 15px;
    outline: none;
}
.search button {
    float: left;
    width: 51PX;
    height: 42px;
    background: url(images/search.png);
    border: 0;
    outline: none;
}
.user {
    width: 125px;
    height: 42px;
    float: left;
    margin-left: 35px;
    line-height: 42px;
}
.icon {
    height: 42px;
    float: left;
}
.user img {
    width: 35px;
    height: 35px;
    border-radius:50% ;
    margin-top: 3.5px;
}
.username {
    float: left;
    color: #666666;
    margin-left: 10px;
}
.box {
    width: 100%;
    height: 420px;
    background: url(images/banner.png)no-repeat top center;
    /* background-size: 100%; */
}
.bannar {   
    height: 420px;
}
.nav_list {
    height: 420px;
    float: left;
}
.nav_list ul {
    height: 1200px;
}
.box .w {
    height: 420px;
}
.nav_list ul li{
    padding-left: 20px; 
    width: 175px;
    height: 46.5px;
    line-height: 48px ; 
}
.nav_list ul li a {
    color: #fff;
}
.nav_list ul li a:hover {
    color: #00b4ff;
}
.mylesson {
    width:230px;
    height: 300px;
    background-color: #fff;
    float: right;
    margin-top:50px;
}
.mylesson h3 {
    height: 50px;
    background-color: #9bceea;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
.lesson_title {
    padding: 0 20px;
}
.lesson_title ul li {
    padding: 13px 0;
    border-bottom: 1px solid #eaeaea;
}
.lesson_title ul li h4 {
    font-size: 16px;
    color: #5a5a5a;
}
.lesson_title ul li p {
    font-size: 12px;
    color: #a5a5a5;
}
.lesson_title ul a {
    display: block;
    height: 40px;
    border: 1px solid #22b0ff;
    line-height: 40px;
    text-align: center;
    color: #22b0ff  ;
    margin-top: 5px;
}
.goods {
    height: 60px;
    background-color:#fff;
    margin-top: 10px;
    box-shadow: 0px 5px 5px #888888;
    line-height: 60px;
}
.goods b {
    display: inline-block;
    color:#22b0ff ;
    padding: 0px 30px;
}
.goods span {
    font-size: 16px;
    padding: 0 35px;
    border-left: 1px solid gray;
}
.hobby {
    float: right;
    margin-right: 25px;
    font-size: 15px;
}
.hobby a {
    color:#22b0ff;
}
.recommend {
    margin-top: 35px;
}
.recommend_title {
    margin-bottom: 20px;
}
.recommend_title b {
    color: #494949;
    font-size:20px;
}
.recommend_title a {
    display: block;
    float: right;
    margin-top: 10px;
    margin-right: 35px;
    color: gray;
    font-size: 12px;
}
.goods_list {
    width: 1225px;
}
.goods_list ul li {
    width: 228px;
    height: 270px;
    float: left;
    margin-right:15px;
    margin-bottom: 20px;
    position: relative;
}
.goods_list ul li .hot img {
    position: absolute;
    width: 40px;
    height: 20px;
    position: absolute;
    left: 190px;
    top: -5px;
}
.goods_list ul li img {
    width: 228px;
}
.goods_info_hd {
    padding: 23px 20px;
    background-color: #fff;
}
.goods_info_hd h5 {
   display: inline-block; 
   color:orange;
   margin-top: 10px;
}
.goods_info_hd a {
    color: gray;
    font-size: 12px;
    display: inline-block;
    margin-left: 10px;
}
.footer .w {
    height: 420px;
    background-color: #fff;
    padding-top: 30px;
    padding-left: 20px;
    box-sizing:border-box
}
.copyright {
    width: 500px;
    float: left;
}
.copyright p {
    margin-top: 20px;
    color: #a5a5a5;
    font-size: 14px;
}
.copyright a {
    display: block;
    width: 118px;
    height: 38px;
    border: 1px solid #22b0ff;
    line-height: 38px;
    text-align: center;
    margin-top: 20px;
    color: #22b0ff;
}
.contact {
    float: right;
}
.contact dl {
    float: left;
    margin-left: 120px;
}
.contact dl:last-child{
    margin-right: 45px;
}
